<.flash_group flash={@flash} />
<div class="px-4 py-10 sm:px-6 lg:px-8 text-zync-900">
  <div class="mx-auto max-w-xl lg:mx-0">
    <.heading title="Hello, moi c’est Émilie 👋 !" class="py-2" />
    <p class="mt-4 text-pretty">
      Derrière <em class="font-medium">Piece Of English</em>, il y a plus de dix ans d’enseignement, beaucoup de passion, et une bonne dose d’humour (oui, même en cours d’anglais).
    </p>

    <p class="mt-4 text-pretty">
      <span class="font-medium">Mon histoire avec l’anglais commence tôt :</span> je me suis formée l’oreille en binge-watchant des séries et films en DVD (l’époque pré-Netflix, les vrais savent 😅), et mes nombreux voyages aux États-Unis ont fait le reste. Résultat : bilingue et incapable d’imaginer ma vie sans cette langue.
    </p>

    <p class="mt-4 text-pretty">Côté études :</p>
    <ul class="list-disc ps-8 pt-2">
      <li>Bac ES, option anglais (déjà la voie tracée).</li>
      <li>Double licence Anglais/Espagnol à l’Institut Catholique de Paris.</li>
      <li>Master recherche en anglais, toujours à l’ICP.</li>
      <li>Concours de l’enseignement réussi du premier coup.</li>
      <li>Master 2 Métiers de l’Éducation (mention très bien) en 2015.</li>
    </ul>

    <p class="mt-4 text-pretty">Depuis, je n’ai jamais lâché l’enseignement :</p>
    <ul class="list-disc ps-8 pt-2">
      <li>Primaire, collège, lycée, supérieur → j’ai fait le tour !</li>
      <li>
        Tutrice de stagiaires profs, pour accompagner les futurs enseignants dans leurs débuts.
      </li>
      <li>
        Formatrice Cambridge, et préparation à tout type d’examens officiels (Cambridge, TOEIC, TOEFL…).
      </li>
    </ul>

    <p class="mt-4 text-pretty">
      Mais au-delà des diplômes et de l’expérience, ce que j’aime avant tout, c’est faire aimer l’anglais.
      Que tu sois adulte ou enfant, grand débutant ou déjà très avancé en quête de conversation, j’adapte mes cours à tes besoins.
    </p>

    <p class="mt-4 text-pretty">
      <span class="font-medium">Ma méthode :</span> ludique, actionnelle, et toujours ancrée dans des thèmes qui parlent (voyages, TikTok, culture pop, projets pros…). Parce qu’on apprend mieux quand on se reconnaît dans ce qu’on étudie.
    </p>

    <p class="mt-4 text-pretty">Et pour te faciliter la vie, mes cours sont 100% en visio :</p>
    <ul class="ps-4 pt-2">
      <li>✅ Tu réserves quand tu veux, comme sur Doctolib.</li>
      <li>✅ Pas de trajets, pas de perte de temps.</li>
      <li>✅ Tu apprends d’où tu veux (même en pyjama, je ne juge pas 😉).</li>
      <li>✅ Paiement simple et rapide à la fin de la séance.</li>
    </ul>

    <p class="mt-4 text-pretty">
      <span class="font-medium">Bref :</span> sérieux dans le contenu, mais jamais ennuyeux dans la forme.
      Si tu veux que l’anglais devienne ton allié plutôt que ton obstacle, tu es au bon endroit.
    </p>
  </div>
</div>
